@font-face {
    font-family: "Roboto";
    src: url("/selected-text-searcher/Roboto-Light.ttf");
}

* {
	font-size: 17px;
    font-family: "Roboto";
    color: white;
}

body {
	background-color: #363636;
}

a {
    color: #93beff;
    transition: color 0.2s;
}

a:visited {
    color: #caa7ff;
}

a:hover {
    color: #ff9090;;
}

a:active {
	color: #8dff9c;
    transition: none;
}

h1, p {
    margin-top: 7px;
    margin-bottom: 7px;
}

h1 {
    font-size: 20px;
	color: #e47d7d;
}

p {
	line-height: 25px;
}

svg {
    height: 13px;
    width: 13px;
    fill: white;
}

.loading_screen {
    transition: opacity 0.4s;
    background-color: #3fff45;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: grid;
    align-items: center;
    text-align: center;
    font-size: 60px;
}

.all {
	max-width: 1024px;
	margin: auto;
}

.warning_wrapper {
    padding: 10px;
    margin: 15px auto 15px auto;
    background-color: #c33a3a;
    width: 433px;
}

.warning {
    margin: 0;
    font-size: 14px;
}

.youtube_player {
    position: relative;
    padding-bottom: 56.23%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.youtube_player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}

.youtube_player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
}

.youtube_player img:hover {
    -webkit-filter: brightness(75%);
}

.youtube_player .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("/selected-text-searcher/play_btn.png") no-repeat;
    cursor: pointer;
}
