@font-face {
    font-family: "Roboto";
    src: url("/selected-text-searcher/Roboto-Light.ttf");
}

* {
	font-size: 17px;
    font-family: "Roboto";
    color: white;
}

body {
	background-color: #363636;
}

a {
    color: #93beff;
    transition: color 0.2s;
}

a:visited {
    color: #caa7ff;
}

a:hover {
    color: #ff9090;;
}

a:active {
	color: #8dff9c;
    transition: none;
}

h1, p {
    margin-top: 7px;
    margin-bottom: 7px;
}

h1 {
    font-size: 20px;
	color: #e47d7d;
}

p {
	line-height: 25px;
}

svg {
    height: 13px;
    width: 13px;
    fill: white;
}

.loading_screen {
    transition: opacity 0.4s;
    background-color: #3fff45;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: grid;
}

.all {
	max-width: 1024px;
	margin: auto;
}

.warning_wrapper {
    padding: 10px;
    margin: 15px auto 15px auto;
    background-color: #c33a3a;
    width: 433px;
}

.warning {
    margin: 0;
    font-size: 14px;
}

/*> youtube preveiw */
.youtube_player {
    position: relative;
    padding-bottom: 56.23%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.youtube_player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}

.youtube_player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
}

.youtube_player img:hover {
    -webkit-filter: brightness(75%);
}

.youtube_player .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("/selected-text-searcher/play_btn.png") no-repeat;
    cursor: pointer;
}
/*< youtube preveiw */

#fountainG{
	position:relative;
	width:210px;
	height:25px;
	margin:auto;
}

#fountainG{
	position:relative;
	width:198px;
	height:24px;
	margin:auto;
}

/*> preloader */
#fountainG{
	position:relative;
	width:168px;
	height:20px;
	margin:auto;
}

.fountainG{
	position:absolute;
	top:0;
	background-color:rgb(255,255,255);
	width:20px;
	height:20px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:0.515s;
		-o-animation-duration:0.515s;
		-ms-animation-duration:0.515s;
		-webkit-animation-duration:0.515s;
		-moz-animation-duration:0.515s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:13px;
		-o-border-radius:13px;
		-ms-border-radius:13px;
		-webkit-border-radius:13px;
		-moz-border-radius:13px;
}

#fountainG_1{
	left:0;
	animation-delay:0.206s;
		-o-animation-delay:0.206s;
		-ms-animation-delay:0.206s;
		-webkit-animation-delay:0.206s;
		-moz-animation-delay:0.206s;
}

#fountainG_2{
	left:21px;
	animation-delay:0.2625s;
		-o-animation-delay:0.2625s;
		-ms-animation-delay:0.2625s;
		-webkit-animation-delay:0.2625s;
		-moz-animation-delay:0.2625s;
}

#fountainG_3{
	left:42px;
	animation-delay:0.309s;
		-o-animation-delay:0.309s;
		-ms-animation-delay:0.309s;
		-webkit-animation-delay:0.309s;
		-moz-animation-delay:0.309s;
}

#fountainG_4{
	left:63px;
	animation-delay:0.3655s;
		-o-animation-delay:0.3655s;
		-ms-animation-delay:0.3655s;
		-webkit-animation-delay:0.3655s;
		-moz-animation-delay:0.3655s;
}

#fountainG_5{
	left:84px;
	animation-delay:0.412s;
		-o-animation-delay:0.412s;
		-ms-animation-delay:0.412s;
		-webkit-animation-delay:0.412s;
		-moz-animation-delay:0.412s;
}

#fountainG_6{
	left:105px;
	animation-delay:0.4685s;
		-o-animation-delay:0.4685s;
		-ms-animation-delay:0.4685s;
		-webkit-animation-delay:0.4685s;
		-moz-animation-delay:0.4685s;
}

#fountainG_7{
	left:126px;
	animation-delay:0.515s;
		-o-animation-delay:0.515s;
		-ms-animation-delay:0.515s;
		-webkit-animation-delay:0.515s;
		-moz-animation-delay:0.515s;
}

#fountainG_8{
	left:147px;
	animation-delay:0.5715s;
		-o-animation-delay:0.5715s;
		-ms-animation-delay:0.5715s;
		-webkit-animation-delay:0.5715s;
		-moz-animation-delay:0.5715s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgb(255,255,255);
	}

	100%{
	transform:scale(.3);
		background-color:rgba(255,255,255,0.98);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgb(255,255,255);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgba(255,255,255,0.98);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgb(255,255,255);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgba(255,255,255,0.98);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgb(255,255,255);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgba(255,255,255,0.98);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgb(255,255,255);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgba(255,255,255,0.98);
	}
}
/*< preloader */